body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

#title>h1 {
  color: black;
  z-index: 100;
  opacity: 1;
  font-size: 2em;
  position: absolute;
  top: 20%;
  left: 50%;
}

/* Heading */
header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
}

header>a:first-child {
  margin-left: 10%;
}

header>a:first-child>img {
  width: 8em;
  text-align: right;
}

header>a:last-child {
  text-align: left;
  margin-left: auto;
  margin-right: 10%;
  background-color: #05a4db;
  width: 4em;
  height: 4em;
  border-radius: 10px;
}

header>a:last-child>img {
  width: 40px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.results {
  margin-top: 5%;
}

main>a {
  background-color: #05a4db;
  padding: 1em;
  text-decoration: none;
  font-size: 1em;
  border-radius: 10px;
  color: white;
  /* margin-top: 20%; */
  /* margin-bottom: 10%; */
}

/* Boeken */

main {
  width: 80%;
  margin: 6% auto;
  /* background-color: white; */
}

.books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

/* main > button {
  display: flex;
  flex-direction: column;
} */

article {
  position: relative;
  background-color: white;
  min-width: 25%;
  max-width: 25%;
  /* height: 15em; */
  margin: 2%;
  border-radius: 10px;
  /* transition: opacity 0.1s 0s linear; */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  opacity: 0.9;
}

article:hover {
  opacity: 1;
  transform: scale(1.1);
}

article>img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

article>button {
  background-color: #08a3db;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25%;
  height: 20%;
  margin-right: 0;
  border-radius: 10px;
}

article>button>img {
  width: 40px;
  height: 40px;
}

.img {
  position: relative;
}

.title {
  position: absolute;
  width: 60%;
  top: 30px;
  left: 80px;
  right: auto;
  text-align: left;
  /* bottom: 0;
    left: 0;
    right: 0; */
  /* background: rgba(29, 106, 154, 0.72); */
  /* background-color: red; */
  color: black;
  visibility: hidden;
  opacity: 0;
  height: 15em;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

article:hover .title {
  visibility: visible;
  opacity: 1;
}

article:hover .img {
  opacity: 0.3 !important;
  transition: opacity 0.1s 0s linear;
}

article>a {
  width: 18%;
  height: 18%;
  color: white;
  text-align: center;
  margin-top: 30px;
  list-style: none;
  text-decoration: none;
  padding-top: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #05a4db;
}

article>a>img {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: auto;
}

/* menu items nav bar */
.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.25s;
  pointer-events: none;
}

li {
  list-style: none;
}

li a {
  display: block;
  float: left;
  width: 20%;
  height: 10%;
  padding: 25px 0;
  text-align: center;
  font-family: "HeydingsCommonIconsRegular", Helvetida Neue, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 40px;
  color: #fff;
  background: #ccc;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
  transition: 0.25s;
}

li a:hover {
  margin: -10px 0 0 0;
}

.menu {
  width: 700px;
  margin: 10px auto 50px auto;
  /* border-radius: 20px; */
  overflow: hidden;
}

.menu>li>a>img {
  width: 50px;
  height: 50px;
}

.menu>li>a>p {
  font-size: 0.5em;
  font-weight: 300;
}

/* Button link */
.menu li:first-child a {
  background: #d8157d;
  border-radius: 10px 0 0 10px;
}

.menu li:nth-child(2) a {
  background: #d8242a;
}

.menu li:nth-child(3) a {
  background: #009948;
}

.menu li:nth-child(4) a {
  background: #08a3db;
}

.menu li:nth-child(5) a {
  background: #822d7d;
  border-radius: 0 10px 10px 0;
}

/* Achtergrond hover */
.menu li:first-child:hover~.bg {
  background: #d8157d;
}

.menu li:nth-child(2):hover~.bg {
  background: #d8242a;
}

.menu li:nth-child(3):hover~.bg {
  background: #009948;
}

.menu li:nth-child(4):hover~.bg {
  background: #08a3db;
}

.menu li:nth-child(5):hover~.bg {
  background: #822d7d;
}

/* Achtergrond */
.menu li:nth-child(1):active+.bg {
  background: #d8157d;
}

/* Zoekbalk */

.zoekbalk {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.zoekbalk>input[type="text"] {
  padding: 1em 1em;
  width: 50%;
  text-align: center;
  font-size: 1em;
  margin-left: auto;
  margin-right: 0;
  border-radius: 5px;
  box-shadow: none;

}

.zoekbalk>button {
  background-color: #08a3db;
  width: 5em;
  height: 3em;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  margin-left: 0;
  margin-right: auto;
}